Repository openDAQ/openDAQ, pull requests merged in 2023-11, with the labels that each got.

#28 Update default component IDs to capital case
  core/opendaq/device/include/opendaq/device_impl.h
  core/opendaq/functionblock/include/opendaq/function_block_impl.h
  core/opendaq/functionblock/tests/test_function_block.cpp
  core/opendaq/opendaq/src/client_impl.cpp
  core/opendaq/opendaq/tests/test_instance.cpp
  core/opendaq/signal/include/opendaq/signal_container_impl.h
  core/opendaq/signal/tests/test_signal_container.cpp
  docs/Antora/modules/background_info/pages/components.adoc
  docs/tests/test_components.cpp
  external/opcua_tms_types/CMakeLists.txt
  modules/ref_device_module/tests/test_ref_device_module.cpp
  modules/tests/test_ref_modules/test_ref_modules.cpp
  shared/libraries/opcua/opcuashared/tools/generate_datatypes.sh
  shared/libraries/opcuatms/opcuatms_client/src/objects/tms_client_device_impl.cpp
  shared/libraries/opcuatms/opcuatms_client/src/objects/tms_client_function_block_impl.cpp
  shared/libraries/opcuatms/opcuatms_server/src/objects/tms_server_device.cpp
  shared/libraries/opcuatms/opcuatms_server/src/objects/tms_server_function_block.cpp
  shared/libraries/opcuatms/opcuatms_server/tests/test_tms_channel.cpp
  shared/libraries/opcuatms/opcuatms_server/tests/test_tms_device.cpp
  shared/libraries/opcuatms/opcuatms_server/tests/test_tms_function_block.cpp
  shared/libraries/opcuatms/opcuatms_server/tests/test_tms_server.cpp
  shared/libraries/opcuatms/tests/opcuatms_integration/test_tms_device.cpp
  shared/libraries/opcuatms/tests/opcuatms_integration/test_tms_function_block.cpp
Labels: enhancement

#27 RTGen - Fixed enum value parsing in RTGenListener
  shared/tools/RTGen/bin/RTGen.Cpp.dll
  shared/tools/RTGen/bin/RTGen.Delphi.dll
  shared/tools/RTGen/bin/RTGen.Library.dll
  shared/tools/RTGen/bin/RTGen.Python.dll
  shared/tools/RTGen/bin/rtgen.exe
  shared/tools/RTGen/src/project/RTGen.Cpp/Parser/RTGenListener.cs
Labels: bindings:python, bindings:c#, bindings:delphi

#25 Split Python bindings for IBaseObject into its own file
  bindings/python/core_types/CMakeLists.txt
  bindings/python/core_types/include/py_core_types/py_core_types.h
  bindings/python/core_types/src/py_base_object.cpp
  bindings/python/core_types/src/py_core_types.cpp
  bindings/python/py_opendaq_daq/src/opendaq_daq.cpp
Labels: bindings:python

#41 <TBBAS-1168> Optimize device enumeration/discovery duration
  core/opendaq/opendaq/src/client_impl.cpp
  shared/libraries/discovery/include/daq_discovery/daq_discovery_client.h
  shared/libraries/discovery/include/daq_discovery/mdnsdiscovery_client.h
Labels: enhancement
